:root {
    --dark-green: #174B42;
    --light-green: #E2ECEC;
    --medium-green: #658f8c;
    --highlight-yellow: #FFD700;
}

body {
    background-color: var(--light-green);
    overflow: hidden;
    font-family: 'VT323', monospace;
}

.plant-bg {
    background-image: url('bg.jpeg');
    height: 100vh;
}

h1 {
    color: var(--dark-green);
    text-align: center;
    font-size: 40px;
}

.plantdex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    width: 50%;
    background-color: var(--dark-green);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 2.2;
    background-color: var(--medium-green);
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
}

.toggle-buttons button {
    font-family: 'VT323', monospace;
    color: var(--dark-green);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.toggle-buttons button:disabled {
    cursor: default;
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.toggle-buttons button.highlighted {
    color: var(--light-green);
    background-color: var(--dark-green);
    border: 2px solid var(--dark-green);
}

.plant-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 20px;
}

.plant-circle {
    width: 80px;
    height: 80px;
    background-color: var(--light-green);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 4px solid var(--medium-green);
}

.plant-circle.selected {
    border: 4px solid var(--dark-green);
}

.plant-info-text {
    margin-top: 20px;
    color: var(--light-green);
    font-family: 'VT323', monospace;
    font-size: 18px;
    text-align: center;
}

.plant-info {
    margin-top: 20px;
    color: var(--light-green);
    font-size: 20px;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.plant-img {
    width: 150px;
    height: 150px;
    background-color: var(--light-green);
    margin-bottom: 10px;
}

.plant-caption {
    color: var(--light-green);
    font-family: 'VT323', monospace;
    font-size: 20px;
}
