:root {
    --dark-green: #174B42;
    --light-green: #E2ECEC;
    --medium-green: #658f8c;
}

body {
    background-color: var(--light-green);
    overflow: hidden;
}

h1 {
    font-family: 'VT323', monospace;
    color: var(--dark-green);
    text-align: center;
    font-size: 40px;
}

.plantdex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    width: 50%;
    background-color: var(--dark-green);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar {
    flex: 1;
    background-color: var(--medium-green);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.toggle-buttons {
    display: flex;
    justify-content: space-around;
    background-color: var(--medium-green);
    padding: 10px;
}

.toggle-buttons button {
    font-family: 'VT323', monospace;
    color: var(--dark-green);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.toggle-buttons button:disabled {
    color: #ccc;
    cursor: default;
}

.plant-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.plant-circle {
    width: 50px;
    height: 50px;
    background-color: var(--light-green);
    border-radius: 50%;
    cursor: pointer;
}

.plant-info {
    margin-top: 20px;
    color: var(--light-green);
    font-family: 'VT323', monospace;
    font-size: 20px;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plant-image {
    width: 150px;
    height: 150px;
    background-color: var(--light-green);
    margin-bottom: 10px;
}

.plant-caption {
    color: var(--light-green);
    font-family: 'VT323', monospace;
    font-size: 20px;
}
