:root {
  --dark-green: #174B42;
  --light-green: #E2ECEC;
  --medium-green: #658f8c;
  --yellow: #f7f8d9;
  --dark-yellow-green: #1f300d;
  --grey-green: #546861;
  --light-grey: #f8f8f8;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
  background-image: url('bg3.png');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  height: 73vh;
}

.battle-screen {
    height: 70vh;
  }

  .player-plant {
    position: fixed;
    bottom: 30%;
    left: 10%;
  }
  
  .opponent-plant {
    position: fixed;
    top: -15%;
    right: -1%;
  }

  #player-plant-info {
    position: relative;
    bottom: -150px;
    left: 350px;
  }

  #opponent-plant-info {
    position: relative;
    bottom: -150px;
    right: 450px;
  }

  .plant-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--yellow);
    padding: 10px;
    margin-bottom: 10px;
    width: 300px;
    border-top: 3px solid var(--grey-green);
    border-bottom: 3px solid var(--grey-green);
    box-shadow:
      -4px 0 0 -2px var(--grey-green),   
      -8px 0 0 -4px var(--grey-green), 
      4px 0 0 -2px var(--grey-green),   
      8px 0 0 -4px var(--grey-green);
  }

  .plant-name-lvl {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 22px;
  }

  .plant-image {
    height: 200px;
    width: auto;
  }

  .health-bar {
    width: 100%;
    height: 10px;
    background-color: var(--light-green);
    border: 1px solid #000;
    border-top: 3px solid var(--grey-green);
    border-bottom: 3px solid var(--grey-green);
    box-shadow:
      -4px 0 0 -2px var(--grey-green),   
      -8px 0 0 -4px var(--grey-green), 
      4px 0 0 -2px var(--grey-green),   
      8px 0 0 -4px var(--grey-green);
  }
  
  .health {
    width: 70%;
    height: 100%;
    background-color: #4caf50;
  }

  .hp-status {
    display: flex;
  }
  
  .status {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
  }
  
  .attack-screen {
    height: calc(30vh - 30px);
    background-color: var(--light-grey);
    border: 4px solid #464645; 
    box-shadow: 4px 4px 0 #505055, 
                8px 8px 0 #6f6589; 
    display: flex;
    width: calc(100% - 10px);
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    border: 4px solid #464645; 
    box-shadow: 4px 4px 0 #505055, 
                8px 8px 0 #6f6589; 
  }
  
  .actions button {
    display: flex;
    flex: 1 1;
    margin: 5px;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'VT323', monospace;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: #4b4b49;
    border: 2px solid transparent;
  }
  
  .actions button:hover {
    border: 2px solid #ad7a78;
  }
  
  .status {
    margin: 0;
    width: 30%;
    border: 4px solid #464645; 
    box-shadow: 4px 4px 0 #505055, 
                8px 8px 0 #6f6589; 
  }
  

  