:root {
  --dark-green: #174B42;
  --light-green: #E2ECEC;
  --medium-green: #658f8c;
  --yellow: #f7f8d9;
  --dark-yellow-green: #939590;
  --grey-green: #546861;
  --light-grey: #f8f8f8;
}

body{
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'VT323', monospace;
}

.battle-bg {
  background-image: url('bg6.gif');
  background-size: cover; 
  background-position: center calc(50% + 40px);
  background-repeat: no-repeat;
  height: 60vh;
}

.battle-screen {
    height: 70vh;
  }

  .player-plant {
    position: fixed;
    bottom: 35%;
    left: 25%;
  }

  .player-plant .plant-image{
    width: auto;
    height: 250px;
  }
  
  .opponent-plant {
    position: fixed;
    top: -10%;
    left: 65%;
  }

  #player-plant-info {
    position: relative;
    top: 275px;
    left: 450px;
    color: var(--grey-green);
  }

  #opponent-plant-info {
    position: relative;
    bottom: -110px;
    right: 750px;
    color: var(--grey-green);
  }

  .plant-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--yellow);
    padding: 10px;
    margin-bottom: 10px;
    width: 400px;
    border-top: 3px solid var(--grey-green);
    border-bottom: 3px solid var(--grey-green);
    box-shadow:
      -4px 0 0 -2px var(--grey-green),   
      -8px 0 0 -4px var(--grey-green), 
      4px 0 0 -2px var(--grey-green),   
      8px 0 0 -4px var(--grey-green);
  }

  .player-plant .plant-info::before {
    content: '';
    position: absolute;
    left: -30px; 
    top: 15px; 
    width: 3px;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid var(--grey-green); 
  }

  .opponent-plant .plant-info::before {
    content: '';
    position: absolute;
    right: -28px; 
    top: 15px; 
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid var(--grey-green);
    transform: scaleX(-1); 
  }

  .plant-name-lvl {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    font-size: 22px;
  }

  .plant-image {
    height: 200px;
    width: auto;
  }

  .health-bar {
    width: 95%;
    height: 10px;
    background-color: var(--light-green);
    border: 1px solid #000;
    border-top: 3px solid var(--grey-green);
    border-bottom: 3px solid var(--grey-green);
    box-shadow:
      -4px 0 0 -2px var(--grey-green),   
      -8px 0 0 -4px var(--grey-green), 
      4px 0 0 -2px var(--grey-green),   
      8px 0 0 -4px var(--grey-green);
  }
  
  .health {
    width: 10%;
    height: 100%;
    background-color: #4caf50;
  }

  .hp-status {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 95%;
    gap: 20px;
  }


.hp-green .health {
  background-color: #4caf50;
}

.hp-yellow .health {
  background-color: #ffeb3b;
}

.hp-red .health {
  background-color: #f44336;
}

.attacking img {
  animation: flash 0.3s ease-in-out;
}

@keyframes flash {
  0% { filter: brightness(1); }
  50% { filter: brightness(10); }
  100% { filter: brightness(1); }
  0% { transform: translateY(0); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
  0% { opacity: 50%; }
  50% { opacity: 75%; }
  100% { opacity: 50%; }
}

@keyframes fainted {
  0%, 5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% { opacity: 1; }
  10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100%{ opacity: 0; }
  105%, 120% { opacity: 1; }
  125%, 140%, 145%, 150%, 155%, 160%, 165% { opacity: 0; }
  170%, 200% { opacity: 0; }
}

.fainted {
  animation: fainted 2.5s ease-in-out forwards;
}
  
  .status {
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 18px;
  }
  
  .attack-screen {
    height: calc(30vh - 30px);
    background-color: var(--light-grey);
    border: 4px solid #464645; 
    box-shadow: 4px 4px 0 #505055, 
                8px 8px 0 #6f6589; 
    display: flex;
    width: calc(100% - 10px);
  }

  .actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    border: 4px solid #464645; 
    box-shadow: 4px 4px 0 #505055, 
                8px 8px 0 #6f6589; 
  }
  
  .actions button {
    display: flex;
    flex: 1 1;
    margin: 10px;
    padding: 20px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'VT323', monospace;
    background-color: var(--light-grey);
    border: none;
    font-size: 30px;
    color: #4b4b49;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
  }
  
  .actions button:hover {
    border-top: 3px solid #ad7a78;
    border-bottom: 3px solid #ad7a78;
    box-shadow:
      -4px 0 0 -2px #ad7a78,   
      -8px 0 0 -4px #ad7a78, 
      4px 0 0 -2px #ad7a78,   
      8px 0 0 -4px #ad7a78;
  }
  
  .status {
    margin: 0;
    width: 30%;
    border: 4px solid #464645; 
    box-shadow: 4px 4px 0 #505055, 
                8px 8px 0 #6f6589; 
  }  

  .attack-text {
    color: var(--light-green);
    margin: 10px 0;
    background-color: var(--dark-green);
    position: fixed;
    left: 0;
    bottom: 225px;
    width: 400px;
    height: 40px;
  }

  .attack-text h3 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 9px;
  }

  .attack-text h3::before {
    content: '';
    position: absolute;
    right: -30px; 
    top: 0px; 
    width: 0; 
    height: 0; 
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 30px solid var(--dark-green);
    transform: scaleX(-1); 
  }
  