body {
  background-image: url('./components/plantdex/bg.jpeg');
  height: 130vh;
}

.title {
  font-size: 200px;
  margin-bottom: 0;
}

.starting-buttons button {
  font-size: 16px;
  border: none;
  background-color: var(--dark-green);
  font-family: 'VT323', monospace;
  color: var(--light-green);
  cursor: pointer;
  font-size: 40px;
  padding: 5px 10px;  
  border-top: 3px solid var(--dark-green);
  border-bottom: 3px solid var(--dark-green);
  box-shadow:
    -4px 0 0 -2px var(--dark-green),   
    -8px 0 0 -4px var(--dark-green), 
    4px 0 0 -2px var(--dark-green),   
    8px 0 0 -4px var(--dark-green);
}

.starting-buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
}